body {

  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}
      .jumbotron {

          padding: 2em;

          background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
          background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

          -webkit-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
          -moz-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
          box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
      }

      .jumbotron h1 {
          font-size: 2em;
          text-shadow: 0px 1px 0px #fff;

          /*text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);*/

      }

      .code_view {
        -webkit-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
        -moz-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
        box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
      }

      .choice_form {
        -webkit-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
        -moz-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
        box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
      }

      .picture_box {
        -webkit-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
        -moz-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
        box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
      }

      .thumbnail-bar {
        background-color: black;

        background: rgb(76,76,76); /* Old browsers */
        background: -moz-linear-gradient(-45deg,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
        background: linear-gradient(135deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        -webkit-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
        -moz-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
        box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.64);
      }

      iframe {
        margin: 0 auto;
      }
      
      .btn-block {
        color: white;
        font-size: 1.5em;
      }
      .modal-dialog {
        //width: 50em;
      }
      .page-header h1 {
        font-size: 2.5em;
      }
      .page-header small {
        font-size: .7em;
      }
      .container{
        display: none;
      }
      .pager {
        padding: 1em;
        font-size: 2em;
      }
     
      pre {
          overflow: auto;
          word-wrap: normal;
          white-space: pre;
      }

      span {
          color: Crimson;
      }

